*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  background-color:#D9D9D9;
}

.input{
  margin: 10px!important;
  width: 50rem !important;
}

.btn{
  margin-top: 15px!important;
}
.navbar-expand{
  padding: 10px !important;
}

.formgroup{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navbar-brand{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px
}
.todo {
  align-items: center;
  display: flex;
  font-size: 18px;
  justify-content: space-between;
  margin-left: 10px;
 
}
.card{
  width: 50rem;
    margin-left: 10px;
}

.card-body{
  width: 50rem;
  flex-direction: row;
  align-items: center;
}
.itemtext{
  flex: 3;
}

.itembtn{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.list{
    display: flex;
    flex-direction: column;  
    gap: 10px;
}

.btn-edit{
  display: flex;
  justify-content: flex-end;
}